:root {
  --main-silver: rgb(222, 221, 221);
  --main-light-silver: rgb(244, 243, 243);
  --main-black: rgb(114, 113, 113);
  --main-gold: rgb(255, 202, 30);
  --main-white: white;
  --main-crimson: rgb(167, 43, 68);
  --main-green: rgb(72, 221, 154);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 2rem;
}

.btn {
  width: 4.5rem;
  height: 4.2rem;
  font-size: 1.5rem;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 4.6px;
}

.screen {
  width: 18.75rem;
  height: 4.2rem;
  background-color: var(--main-light-silver);
  border: 1px solid var(--main-light-silver);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.previous {
  font-size: 0.8rem;
}

.current {
  font-size: 1.2rem;
}

.first-row {
  display: flex;
  justify-content: space-between;
}

.decimal,
.number {
  background-color: var(--main-black);
  color: var(--main-white);
  border: 1px solid var(--main-black);
  border-radius: 5px;
}

.operator {
  background-color: var(--main-gold);
  color: var(--main-white)
}

.gray-operator,
.plus-minus {
  background-color: var(--main-silver);
  color: var(--main-black);
}


.equal,
.clear,
.back {
  background-color: var(--main-crimson);
  color: var(--main-white);
}

.btn:hover {
  background-color: var(--main-green);
}