:root {
  --main-gray: rgb(222, 221, 221);
  --main-black: rgb(114, 113, 113);
  --main-gold: gold;
  --main-white: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.btn {
  width: 4.5rem;
  height: 4.2rem;
  font-size: 1.5rem;
}

.number {
  background-color: var(--main-black);
  color: var(--main-white);
  border: 1px solid var(--main-black);
  border-radius: 5px;
}